:root{
    --primary: rgb(51, 159, 255);
    --secundary: rgb(51, 255, 172);

    --dark: #000;
    --white: #fff;
    --yellow: rgb(255, 240, 51);
    --yellow-dark: rgb(232, 201, 7);
    --gray-dark: rgb(39, 55, 70);

    --font-primary: "JetBrains Mono", monospace;
    --font-secundary: "Monoton", sans-serif;
    --font-normal: Arial, Helvetica, sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/**
========== Globales =========
**/

body{
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: var(--font-normal);
}

a{ 
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--yellow);
    font-family: var(--font-primary);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/**
======= Utilidades =======
**/